@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer base {
  html {
    font-family: 'Poppins';
  }
}

@layer utilities {
  .risk-1 {
    @apply font-bold;
    @apply text-blue-400;
  }
  .risk-3 {
    @apply font-bold;
    @apply text-orange-500;
  }
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.risk-1{
  color: #d4d4d4;
}

.risk-2{
  color: #c4b5fd;
}

.risk-3{
  color: #fca5a5;
}

.risk-4{
  color: #fdba74;
}

.risk-5{
  color: #f97316;
}

.risk-6{
  color: #ea580c;
}

.risk-7{
  color: #ef4444;
}

.risk-8{
  color: #dc2626;
}

@font-face {
  font-family: "Towards";
  src: url("../public/fonts/towards/Towards.ttf");
}

.board-8{
  font-family: 'Poppins', 'sans-serif';
  width: 80vw;
  height: 80vw;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  gap: 2px;
}

.board-8 > button,
.board-8 > div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(calc(80vw / 8) - 2px);
  width: calc(calc(80vw / 8) - 2px);
}


.board-16{
  font-family: 'Poppins', 'sans-serif';
  width: 40rem;
  height: 40rem;
  grid-template-columns: repeat(16, minmax(0, 1fr));
  gap: 2px;
}

.board-16 > button,
.board-16 > div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(calc(40rem / 16) - 2px);
  width: calc(calc(40rem / 16) - 2px);
}

.board-20{
  font-family: 'Poppins', 'sans-serif';
  width: 40rem;
  height: 40rem;
  grid-template-columns: repeat(20, minmax(0, 1fr));
  gap: 2px;
}

.board-20 > button,
.board-20 > div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(calc(40rem / 20) - 2px);
  width: calc(calc(40rem / 20) - 2px);
}

@media (min-width: 640px) { 

}

@media (min-width: 768px) { 

}

@media (min-width: 1024px) {
  .board-8{
    width: 30vw;
    height: 30vw;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 2px;
  }
  
  .board-8 > button,
  .board-8 > div{
    height: calc(calc(30vw / 8) - 2px);
    width: calc(calc(30vw / 8) - 2px);
  }
}

@media (min-width: 1280px) {
}
